<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahmoud Mashoun</title>
    <base href="/">

    <!-- SEO Tags -->
    <meta name="title" content="Mahmoud Mashoun">
    <meta name="description" content="Google Workspace Automation, Full Stack Web Developer & GDG Organiser">
    <meta name="keywords"
        content="lebanon,google apps script,vue js,vuegle stack,google developer in lebanon,google developer in mena region,lebanese developer">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Mahmoud Mashoun">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mashoun.com/">
    <meta property="og:title" content="Mahmoud Mashoun">
    <meta property="og:description"
        content="Google Workspace Automation, Full Stack Web Developer & GDG Organiser">
    <meta property="og:image" content="favicon.ico">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://mashoun.com/">
    <meta property="twitter:title" content="Mahmoud Mashoun">
    <meta property="twitter:description"
        content="Google Workspace Automation, Full Stack Web Developer & GDG Organiser">
    <meta property="twitter:image" content="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- CSS -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/app.css" async >

    <!-- JS -->
    <script defer src="/assets/js/packages/vue.min.js"></script>

</head>

<body id="app">
    <section v-if="loading" style="width: 100vw;height: 100vh;position: fixed;top: 0;z-index: 100;" class="bg-grid"></section>
    <navbar></navbar>
    <main>
        <hero-section></hero-section>
        <page-section title="My Projects" path="/projects/"></page-section>
        <page-section title="My Courses" path="/courses/"></page-section>
        <page-section title="My Blogs" path="/blogs/"></page-section>
    </main>
    <footer-section></footer-section>
    <network-error v-if="store.networkError"></network-error>

    <!-- JS -->
    <script type="module" src="/assets/js/app.js"></script>
</body>

</html>