<section class="container-fluid">
    <div class="row g-2">
        <!-- Large screen swiper -->
        <div class="col-12 d-none d-lg-block">
            <aside>
                <swiper-container spaceBetween="15">
                    <swiper-slide>
                        <figure class="ratio ratio-lg rounded">
                            <img src="https://image.lexica.art/full_webp/083a9e8d-931b-4874-86b4-0b53d1d69472" alt="node" class="object-fit-cover rounded border">
                        </figure>
                    </swiper-slide>
                </swiper-container>
            </aside>
        </div>

        <!-- Mobile screen swiper -->
        <div class="col-12 d-block d-lg-none mb-1">
            <aside>
                <swiper-container spaceBetween="15" :pagination="true">
                    <swiper-slide>
                        <figure class="ratio ratio-16x9 rounded">
                            <img src="https://picsum.photos/1080" alt="node" class="object-fit-cover rounded border">
                        </figure>
                    </swiper-slide>
                    <swiper-slide>
                        <figure class="ratio ratio-16x9 rounded">
                            <img src="https://picsum.photos/1081" alt="node" class="object-fit-cover rounded border">
                        </figure>
                    </swiper-slide>
                    <swiper-slide>
                        <figure class="ratio ratio-16x9 rounded">
                            <img src="https://picsum.photos/1082" alt="node" class="object-fit-cover rounded border">
                        </figure>
                    </swiper-slide>
                    <swiper-slide>
                        <figure class="ratio ratio-16x9 rounded">
                            <img src="https://picsum.photos/1083" alt="node" class="object-fit-cover rounded border">
                        </figure>
                    </swiper-slide>
                </swiper-container>
            </aside>
        </div>
        <div class="col-12 col-lg-4">
            <aside class="p-3 d-flex flex-column gap-2 bg-light border rounded">
                <i class="fs-small font-normal text-m-light-grey">I am ..</i>
                <h3 class="fs-3 font-title">
                    <span>Full Stack </span>
                    <span class="text-grad">Web Developer</span>
                </h3>
                <p class="fs-small font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis a unde nihil obcaecati, neque deleniti accusamus corrupti illo recusandae, repellat at et nemo perspiciatis, fugit aliquid nulla ex in aspernatur?</p>
            </aside>
        </div>
        <div class="col-12 col-lg-4">
            <aside class="p-3 d-flex flex-column gap-2 bg-light border rounded">
                <i class="fs-small font-normal text-m-light-grey">I have experience in ..</i>
                <h3 class="fs-3 font-title">
                    <span>Web </span>
                    <span class="text-grad">Automation</span>
                </h3>
                <p class="fs-small font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis a unde nihil obcaecati, neque deleniti accusamus corrupti illo recusandae, repellat at et nemo perspiciatis, fugit aliquid nulla ex in aspernatur?</p>
            </aside>
        </div>
        <div class="col-12 col-lg-4">
            <aside class="p-3 d-flex flex-column gap-2 bg-light border rounded">
                <i class="fs-small font-normal text-m-light-grey">I also do ..</i>
                <h3 class="fs-3 font-title">
                    <span>AI Integration & </span>
                    <span class="text-grad">SEO</span>
                </h3>
                <p class="fs-small font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis a unde nihil obcaecati, neque deleniti accusamus corrupti illo recusandae, repellat at et nemo perspiciatis, fugit aliquid nulla ex in aspernatur?</p>
            </aside>
        </div>
    </div>
</section>