<header class="bg-light position-sticky top-0 z-3 p-2 shadow-sm border-bottom d-flex justify-content-between align-items-center gap-3">
    <section>
        <div class="d-flex align-items-center gap-2">
            <img src="favicon.ico" alt="logo" class="img-fluid rounded navbar-logo" width="45">
            <div class="d-flex flex-column">
                <h1 class="fs-6 font-title">Mahmoud Mashoun</h1>
                <p class="font-mono fs-xsmall text-fade">Google Workspace Automation, Full Stack Web Developer & GDG Organiser.</p>
            </div>
        </div>
    </section>
    <aside class="d-block d-lg-none">
        <div class="material-symbols-outlined ps-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">more_vert</div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
            <section class="d-flex flex-column gap-2 align-items-center" style="overflow-y: auto;">
                <aside class="w-100 mb-5 position-relative">
                    <div class="ratio ratio-4x1">
                        <img src="https://picsum.photos/1920/1080" alt="wallpaper" class="object-fit-cover">
                    </div>
                    <div class="position-absolute top-100 start-50 translate-middle">
                        <img src="/favicon.ico" alt="logo" class="object-fit-cover" width="80">
                    </div>
                </aside>
                <div class="d-flex flex-column align-items-center gap-1 px-3">
                    <h1 class="fs-6 font-title text-m">Mahmoud Mashoun</h1>
                    <p class="font-mono fs-xsmall text-center">Google Workspace Automation, Full Stack Web Developer & GDG Organiser.</p>
                </div>
                <div class="d-flex flex-wrap gap-2 text-dark px-3 justify-content-start my-3">
                    <a v-for="node in store.footerLinks" :key="node" :href="node.url" class="sidebar-link border border-1 border-dark">
                        <span class="material-symbols-outlined text-secondary">{{node.icon}}</span>
                        <span class="text-capitalize">{{node.text}}</span>
                    </a>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-3 fs-5 text-m-dark">
                    <a v-for="node in socialMedia" :href="node.url"><i :class="node.icon "></i></a>
                </div>
                <i class="bi bi-arrow-return-right fs-5 mt-3" data-bs-dismiss="offcanvas" role="button"></i>
            </section>
        </div>
    </aside>
    <nav class="d-none font-normal fs-small d-lg-flex align-items-center gap-3">
        <a href="/" :class="{'fw-bold text-primary': location.pathname == '/' || location.pathname == '/index.html'}">Home</a>
        <a href="/projects/" :class="{'fw-bold text-primary': location.pathname == '/projects/'}">Projects</a>
        <a href="/courses/" :class="{'fw-bold text-primary': location.pathname == '/courses/'}">Courses</a>
        <a href="/events/" :class="{'fw-bold text-primary': location.pathname == '/events/'}">Events</a>
        <a href="/blogs/" :class="{'fw-bold text-primary': location.pathname == '/blogs/'}">Blogs</a>
        <a href="/links/" :class="{'fw-bold text-primary': location.pathname == '/links/'}">Links</a>
    </nav>
    <section class="d-none d-lg-block">
        <a href="/meeting/">
            <button data-bs-toggle="offcanvas" data-bs-target="#meetingSidebar" class="btn btn-sm btn-primary d-flex align-items-center gap-1">
                <span class="material-symbols-outlined fs-5">video_call</span>
                <span class="font-normal text-nowrap">Schedule a Meeting</span>
            </button>
        </a>
    </section>
</header>