<header class="bg-light position-sticky top-0 z-3 p-2 shadow-sm border-bottom d-flex justify-content-between align-items-center gap-3">
    <section>
        <a href="/">
            <div class="d-flex align-items-center gap-2">
                <img src="https://picsum.photos/100" alt="logo" class="skeleton object-fit-cover rounded" width="35" height="35">
                <div class="d-flex flex-column">
                    <h6 class="fs-6 font-title">Mahmoud Mashoun</h6>
                    <p class="font-normal fs-xsmall text-fade">{{store.tagline}}</p>
                </div>
            </div>
        </a>
    </section>
    <aside class="d-block d-lg-none">
        <i class="bi bi-three-dots-vertical fs-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"></i>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
            <section class="d-flex flex-column gap-2 align-items-center" style="overflow-y: auto;">
                <aside class="w-100 mb-5 position-relative">
                    <div class="ratio ratio-4x1">
                        <img src="https://picsum.photos/1920/1080" alt="wallpaper" class="object-fit-cover">
                    </div>
                    <div class="position-absolute top-100 start-50 translate-middle">
                        <img src="/favicon.ico" alt="logo" class="object-fit-cover" width="80">
                    </div>
                </aside>
                <div class="d-flex flex-column align-items-center gap-1">
                    <h1 class="fs-6 font-title text-m">Mahmoud Mashoun</h1>
                    <!-- <p class="font-normal fs-xsmall text-center fw-bold">{{store.tagline}}</p> -->
                    <p class="font-normal fs-xsmall text-center">{{store.bio}}</p>
                </div>
                <div class="d-flex flex-wrap gap-2 text-dark px-3 justify-content-start my-3">
                    <a v-for="node in store.footerLinks" :key="node" :href="node.url" class="sidebar-link border border-1 border-dark">
                        <span class="material-symbols-outlined text-secondary">{{node.icon}}</span>
                        <span class="text-capitalize">{{node.text}}</span>
                    </a>
                    <a :href="store.contact.waChannel" class="sidebar-link border border-1 border-dark">
                        <span class="material-symbols-outlined text-secondary">notifications_active</span>
                        <span class="text-capitalize">Subscribe</span>
                    </a>
                    <span data-bs-toggle="offcanvas" data-bs-target="#meetingSidebar" role="button" class="sidebar-link border border-1 border-dark">
                        <span class="material-symbols-outlined text-secondary">video_call</span>
                        <span class="text-capitalize">Schedule a Meeting</span>
                    </span>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-3 fs-5 text-m-dark">
                    <a v-for="node in socialMedia" :href="node.url"><i :class="node.icon "></i></a>
                </div>
                <div class="w-100 p-3 d-flex justify-content-center align-items-center" data-bs-dismiss="offcanvas" role="button"><i class="bi bi-arrow-return-right fs-5"></i></div>
            </section>
        </div>
    </aside>
    <nav class="d-none font-normal fs-small d-lg-flex align-items-center gap-3">
        <a href="/" :class="{'fw-bold text-primary': location.pathname == '/' || location.pathname == '/index.html'}">Home</a>
        <a href="/projects/" :class="{'fw-bold text-primary': location.pathname == '/projects/'}">Projects</a>
        <a href="/courses/" :class="{'fw-bold text-primary': location.pathname == '/courses/'}">Courses</a>
        <a href="/events/" :class="{'fw-bold text-primary': location.pathname == '/events/'}">Events</a>
        <a href="/blogs/" :class="{'fw-bold text-primary': location.pathname == '/blogs/'}">Blogs</a>
        <a href="/links/" :class="{'fw-bold text-primary': location.pathname == '/links/'}">Links</a>
    </nav>
    <button data-bs-toggle="offcanvas" data-bs-target="#meetingSidebar" class="d-none d-lg-flex btn btn-sm btn-primary align-items-center gap-1">
        <span class="material-symbols-outlined fs-5">video_call</span>
        <span class="font-normal text-nowrap">Schedule a Meeting</span>
    </button>
    <aside class="offcanvas offcanvas-end" data-bs-scroll="true" id="meetingSidebar">
        <div class="offcanvas-header">
            
            <h5 class="offcanvas-title font-title fs-5">Schedule a meeting</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
        <div class="offcanvas-body">
            <new-meeting></new-meeting>
        </div>
    </aside>
</header>