<div class="container-fluid">
    <div class="row justify-content-center g-3">
        <div class="col-12 col-lg-6">
            <aside class="p-3 d-flex flex-column gap-3 bg-light border rounded align-items-center">
                <h3 class="fs-1 text-grad font-mono">.</h3>
                <strong class="fs-6 text-m-dark font-normal">Lorem, ipsum dolor.</strong>
            </aside>
        </div>
        <div class="col-12 col-lg-2">
            <aside class="p-3 d-flex flex-column gap-3 bg-light border rounded align-items-center">
                <h3 class="fs-1 text-grad font-mono">.</h3>
                <strong class="fs-6 text-m-dark font-normal">Lorem, ipsum dolor.</strong>
            </aside>
        </div>
        <div class="col-12 col-lg-2">
            <aside class="p-3 d-flex flex-column gap-3 bg-light border rounded align-items-center">
                <h3 class="fs-1 text-grad font-mono">.</h3>
                <strong class="fs-6 text-m-dark font-normal">Lorem, ipsum dolor.</strong>
            </aside>
        </div>
        <div class="col-12 col-lg-2">
            <aside class="p-3 d-flex flex-column gap-3 bg-light border rounded align-items-center">
                <h3 class="fs-1 text-grad font-mono">.</h3>
                <strong class="fs-6 text-m-dark font-normal">Lorem, ipsum dolor.</strong>
            </aside>
        </div>
    </div>
</div>