<section>
    <swiper-container spaceBetween="15">
        <swiper-slide v-for="node in getImages">
            <figure class="ratio ratio-16x9 rounded">
                <img :src="node" :alt="node" class="object-fit-cover rounded border">
            </figure>
        </swiper-slide>
        <swiper-slide v-for="node in getYoutubeIds()">
            <figure class="ratio ratio-16x9 rounded">
                <iframe class="object-fit-cover rounded"
                        :src="`https://www.youtube.com/embed/${node}`" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                </iframe>
            </figure>
        </swiper-slide>
    </swiper-container>
    <p v-if="slides.length > 1" class="mt-2 text-end fs-xsmall">{{slides.index}} / {{slides.length}}</p>
    <div v-if="slides.length > 1" class="d-flex align-items-center justify-content-center gap-2">
        <span @click="slideBack()" aria-label="about" role="button" title="Slide back" class="d-flex gap-1 px-2 align-items-center bg-light border border-2 rounded fs-smaller">
            <span class="material-symbols-outlined">chevron_left</span>
            <!-- <span class="font-mono text-lowercase">back</span> -->
        </span>
        <span class="material-symbols-outlined">swipe</span>
        <span @click="slideNext()" aria-label="about" role="button" title="Slide next" class="d-flex gap-1 px-2 align-items-center bg-light border border-2 rounded fs-smaller">
            <!-- <span class="font-mono text-lowercase">next</span> -->
            <span class="material-symbols-outlined">chevron_right</span>
        </span>
    </div>
</section>