<footer>
    <section class="container-fluid py-3">
        <div class="row">
            <div class="col-12">
                <aside class="d-flex flex-column gap-4">
                    <div class="d-flex flex-column gap-1">
                        <!-- <img src="favicon.ico" alt="logo" class="img-fluid rounded navbar-logo" width="40"> -->
                        <h6 class="fs-5 font-title text-m-light border-bottom-underlinew">Mahmoud Mashoun</h6>
                        <p class="ls-1 text-m-light-grey font-normal fs-xsmall">{{store.bio}}</p>
                    </div>
                    <div class="d-flex flex-wrap gap-2 text-light opacity-75">
                        <a v-for="node in store.footerLinks" :key="node" :href="node.url" class="footer-link">
                            <span class="material-symbols-outlined">{{node.icon}}</span>
                            <span class="text-capitalize">{{node.text}}</span>
                        </a>
                        <a :href="store.contact.waChannel" class="footer-link">
                            <span class="material-symbols-outlined">notifications_active</span>
                            <span class="text-capitalize">Subscribe</span>
                        </a>
                        <span data-bs-toggle="offcanvas" data-bs-target="#footerMeetingSidebar" class="footer-link" role="button">
                            <span class="material-symbols-outlined">video_call</span>
                            <span class="text-capitalize">Schedule a Meeting</span>
                        </span>
                    </div>
                </aside>
                
                <aside class="offcanvas offcanvas-end" data-bs-scroll="true" id="footerMeetingSidebar">
                    <div class="offcanvas-header">
                        
                        <h5 class="offcanvas-title font-title fs-5">Schedule a meeting</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <new-meeting></new-meeting>
                    </div>
                </aside>
            </div>
        </div>
        <hr class="text-light my-4">
        <div class="row g-3 justify-content-between">
            <div class="col-12 col-md-6 col-lg-4">
                <h5 class="text-light font-normal text-center text-md-start">Connect with me</h5>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <nav class="d-flex gap-3 justify-content-center justify-content-md-end text-light fs-5">
                    <a v-for="node in socialMedia" :href="node.url"><i :class="node.icon"></i></a>
                </nav>
            </div>
        </div>
    </section>
</footer>