<section class="container-fluid py-3">
    <div class="row">
        <div class="col-12">
            <aside class="d-flex flex-column gap-4">
                <div class="d-flex flex-column gap-1">
                    <!-- <img src="favicon.ico" alt="logo" class="img-fluid rounded navbar-logo" width="40"> -->
                    <h6 class="fs-5 font-normal text-m-light border-bottom-underlinew">Mahmoud Mashoun</h6>
                    <p class="ls-1 text-m-light-grey font-normal fs-small">Google Workspace Automation, Full-Stack Web Developer & GDG Orgainser.</p>
                </div>
                <div class="d-flex flex-wrap gap-2 text-light opacity-75">
                    <a v-for="node in links" :key="node" :href="node.url" class="footer-link">
                        <span class="material-symbols-outlined">{{node.icon}}</span>
                        <span class="text-capitalize">{{node.text}}</span>
                    </a>
                </div>
            </aside>
        </div>
    </div>
    <hr class="text-light my-4">
    <div class="row g-3 justify-content-between">
        <div class="col-12 col-md-6 col-lg-4">
            <h5 class="text-light font-normal text-center text-md-start">Connect with me</h5>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <nav class="d-flex gap-3 justify-content-center justify-content-md-end text-light fs-5">
                <a href="https://chat.whatsapp.com/LvyEafGdDV16bH41u3YsRP"><i class="bi bi-whatsapp"></i></a>
                <a href="mailto:info@gdglebanon.com"><i class="bi bi-envelope"></i></a>
                <a href="https://instagram.com/gdgcoastlebanon?igshid=MzRlODBiNWFlZA=="><i class="bi bi-instagram"></i></a>
                <a href="https://instagram.com/gdgcoastlebanon?igshid=MzRlODBiNWFlZA=="><i class="bi bi-twitter"></i></a>
                <a><i class="bi bi-linkedin"></i></a>
                <a href="https://instagram.com/gdgcoastlebanon?igshid=MzRlODBiNWFlZA=="><i class="bi bi-youtube"></i></a>
            </nav>
        </div>
    </div>
</section>